@model IEnumerable<ELearning.Models.Assignment>

@{
    ViewData["Title"] = "Temele mele";
}

@section Scripts{
    <script type="text/javascript" src="~/js/assignments.js"></script>
}

@foreach (var a in Model)
{
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="tm-gold-text">@a.Concept.Name</h4>
    </div>
}