/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.tm-section {
    padding-top: 0;
    padding-bottom: 0;
}

.answer-row input.form-control {
    width: 97%;
    display: inline-block;
}

.tm-btn.reject-button {
    background-color: darkslategrey;
}

    .tm-btn.reject-button:hover, .tm-btn.reject-button:focus {
        background-color: #192b2b;
    }

.right-buttons {
    float: right;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}