<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ELearning</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/clasic-template/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/clasic-template/css/templatemo-style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <div class="tm-header">
        <div class="container-fluid">
            <div class="tm-header-inner">
                <span class="navbar-brand tm-site-name">E-learning</span>

                <!-- navbar -->
                <nav class="navbar tm-main-nav">

                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                        &#9776;
                    </button>

                    <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                        <ul class="nav navbar-nav">
                            @*<li class="nav-item">
                                <a asp-controller="Questions" asp-action="IncomingQuestions" class="nav-link">Intrebari</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Assignments" asp-action="Create" class="nav-link">Teme</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Tests" asp-action="Index" class="nav-link">Teste</a>
                            </li>*@
                            <li class="nav-item">
                                    <a asp-controller="Questions" asp-action="Create" class="nav-link">Intrebari</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Assignments" asp-action="MyAssignments" class="nav-link">Teme</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Tests" asp-action="StudentIndex" class="nav-link">Teste</a>
                                </li>
                        </ul>
                    </div>

                </nav>

            </div>
        </div>
    </div>

    @*<div class="tm-home-img-container">
            <img src="img/tm-home-img.jpg" alt="Image" class="hidden-lg-up img-fluid">
        </div>*@

    <section class="tm-section">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    @* <script src="~/lib/bootstrap-select-1.12.4/dist/js/i18n/defaults-ar_AR.min.js" asp-append-version="true"></script>*@
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/clasic-template/js/jquery-1.11.3.min.js" asp-append-version="true"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js" asp-append-version="true"></script>
    <script src="~/lib/clasic-template/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
