@model ELearning.Models.Test

@{
    ViewData["Title"] = "Salveaza test";
    var color = "";
}

@section Scripts{
    <script type="text/javascript" src="~/js/tests.js"></script>
}

<form asp-action="SaveTest">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Name" class="form-control" type="text" placeholder="Titlul testului" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    @foreach (var sectionn in Model.Sections)
    {
        <div class="section-container">
            <h4 class="tm-gold-text tm-title">@sectionn.Concept.Name</h4>
            @foreach (var question in sectionn.SectionQuestions)
            {
                <h5>@question.Question.Text</h5>
                <ul>
                    @foreach (var a in question.Question.Answers)
                    {
                        @if (a.Correct)
                        { color = "green"; }
                        else
                        { color = "red"; }
                        <li>
                            <svg width="10" height="10">
                                <circle cx="5" cy="5" r="4" fill="@color" />
                            </svg>&nbsp;@a.Text
                        </li>
                    }
                </ul>
            }
        </div>
    }
    <div class="form-group">
        <input type="submit" value="Salveaza" class="tm-btn right-buttons" id="save-test-button" />
    </div>
</form>