@model string

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="text-align:center; width:250px;">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Rezultatul tau: </h4>
                <h3 class="tm-gold-text"> @Model %</h3>
            </div>
        </div>
    </div>
</div>
