@model ELearning.Models.Question

@{
    ViewData["Title"] = "Create";
}

@section Scripts{
    <script type="text/javascript" src="~/js/questions.js"></script>
}

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="Questions/MyQuestions">
    <div class="my-auto">
        <h2 class="mb-10">Create</h2>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Status" hidden />
            @Html.Partial("EditPartial.cshtml")
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
    <h5>@ViewData["Message"]</h5>
</section>
