@model ELearning.Models.Question

@{
    ViewData["Title"] = "Editare intrebare";
}

@section Scripts{
    <script type="text/javascript" src="~/js/questions.js"></script>
}

<div class="row tm-margin-t-mid">
    <div class="col-xs-12">
        <h3 class="tm-gold-text">Trimisa de: @Model.Student.FirstName @Model.Student.LastName</h3>
    </div>
</div>
<form asp-action="Save">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Status" hidden />
    <input asp-for="StudentId" hidden />
    <input asp-for="Id" hidden />

    <div class="form-group row">
        <textarea asp-for="Text" class="form-control"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    @for (var i = 0; i < Model.Answers.ToList().Count; i++)
    {
        <input asp-for="Answers[i].Id" hidden />
        <input asp-for="Answers[i].QuestionId" hidden />
        <div class="form-group row answer-row">
            <input type="checkbox" asp-for="Answers[i].Correct" />
            <input asp-for="Answers[i].Text" class="form-control" />
            <span asp-validation-for="Answers[i].Text" class="text-danger"></span>
        </div>
    }
    <div class="form-group row">
        <a asp-action="IncomingQuestions" class="tm-btn">Inapoi</a>
        <div class="right-buttons">
            <a asp-action="RejectQuestion" asp-route-id="@Model.Id" class="tm-btn reject-button">Respinge</a>
            <input type="submit" value="Salveaza" class="tm-btn" />
        </div>
    </div>
</form>


