@model ELearning.Models.Question

<input asp-for="Status" hidden />
<input asp-for="StudentId" hidden />
<input asp-for="Id" hidden/>

<div class="form-group row">
    <textarea asp-for="Text" class="form-control"></textarea>
    <span asp-validation-for="Text" class="text-danger"></span>
</div>

@for (var i = 0; i < Model.Answers.Count; i++)
{
    <input asp-for="Answers[i].Id" hidden />
    <input asp-for="Answers[i].QuestionId" hidden />
    <div class="form-group row answer-row">
        <input type="checkbox" asp-for="Answers[i].Correct" />
        <input asp-for="Answers[i].Text" class="form-control" />
        <span asp-validation-for="Answers[i].Text" class="text-danger"></span>
    </div>
}
