@model IEnumerable<ELearning.Models.Question>

@{
    ViewData["Title"] = "IntrebariPrimite";
}

@section Scripts{
    <script type="text/javascript" src="~/js/questions.js"></script>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
        <h2 class="tm-gold-text tm-title">Intrebari primite</h2>
    </div>
</div>
@foreach (var q in Model)
{
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 question-box">
        <div class="tm-content-box">
            <p class="tm-margin-b-20">
                @q.Text
            </p>
            <a asp-action="Details" asp-route-id="@q.Id" class="tm-btn text-uppercase">Detalii</a>
        </div>
    </div>
}